* {
    box-sizing: border-box;
}

#submit {
    margin-left: 20px;
}

#form-items {
    text-align: center;
}

form {
    width: 100%;
    color: white;
}

/* Colors */
/*****************************/
body {
    background: rgb(66,66,66);
}

.mdl-layout-title {
    color: white;
}