* {
    box-sizing: border-box;
}

body {
    min-width: 420px;
}

#submit {
    margin-left: 20px;
}

#user-display, .player-info, .win-losses {
    text-align: center;
}

.player-info {
    position: relative;
    min-height: 200px;
    height: auto;
}

.wins-losses {
    position: absolute;
    width: 100%;
    top: 160px;
}

#new-player-input {
    width: 100%;
    color: white;
}

.choices {
    font-size: 32px;
    margin: 0 10px;
}

#game-card-container {
    padding-bottom: 0;
}

#chat-card-container {
    padding-top: 0;
    width: 100%;
    height: 205px;
    overflow: hidden;
    border-top-right-radius: 2px;
}

#chat-input-container {
    height: 80px;
    bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}

#chat-input-wrap {
    left: 20px;
    width: 60%;
}

#chat-input {
    margin-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#chat-card {
    padding: 10px 20px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
    overflow-y: scroll;
}

#chat {
    position: relative;
    float: right;
    margin: 15px 10px 0 0;
}

/* Colors */
/*****************************/
body {
    background: rgb(66,66,66);
}

.mdl-layout-title, .player-welcome  {
    color: white;
}

#chat-input {
    background: #fff;
}

.player1-chat {
    color: blue;
}

.player2-chat {
    color: green;
}

.player-left {
    color: red;
}

/* Chat Styles */
/*****************************/
