* {
    box-sizing: border-box;
}

#submit {
    margin-left: 20px;
}

#user-display, .player-info, .win-losses {
    text-align: center;
}

.player-info {
    position: relative;
    min-height: 200px;
}

.wins-losses {
    position: absolute;
    width: 100%;
    top: 160px;
}

form {
    width: 100%;
    color: white;
}

/* Colors */
/*****************************/
body {
    background: rgb(66,66,66);
}

.mdl-layout-title, .player-welcome  {
    color: white;
}

/* Chat Styles */
/*****************************/
